<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.derash2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DERASH"
        tools:targetApi="31">
        <activity
            android:name=".logoutdriver"
            android:exported="false" />
        <activity
            android:name=".Logout"
            android:exported="false" />
        <activity
            android:name=".TripHistory"
            android:exported="false" />
        <activity
            android:name=".CompleteTrip"
            android:exported="false" />
        <activity
            android:name=".DriverHomepage"
            android:exported="false" />
        <activity
            android:name=".UpdateCompany"
            android:exported="false" />
        <activity
            android:name=".SupportFeedback"
            android:exported="false" />
        <activity
            android:name=".DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".Update"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Description"
            android:exported="false" />
        <activity
            android:name=".STORING"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqy2VbwJW0iIAPFxswgYi6X7V3dFTUwNg" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".DriverHomepage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".Terms_Conditions"
            android:exported="false" />
        <activity
            android:name=".DriverLogin"
            android:exported="false" />
        <activity
            android:name=".CompanyRegistration"
            android:exported="false" />
        <activity
            android:name=".SignUpChoice"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>